:root{
    /* overall stuff */
    --font-color: rgb(242,242,247);
    --bg-light-blue:  rgb(22,27,34);
    --lighter-gray: rgb(34 42 52);
    --light-transp-blue: rgb(97,97,103, .3);
    --dark-transp-blue:rgb(175,175,185,.3);
    --light-shadow: 0 10px 30px rgb(0,0,50,0.1);
    --pretty-green: rgb(140,223,130);
    --pretty-yellow: rgb(255 216 107);
    --pretty-red:rgb(255 109 109);
    --pretty-purple:rgb(245 152 229);
    --navbar-gap: max(12vh,100px);
    /* code blocks */
    --lighter-font-color: rgb(111,111,111);
}

/* GENERAL */
.bigBox{
    background:var(--lighter-gray);
    border:none;
}

/* svgs */
.lightModeSvg{
    display:none;
}

.darkModeSvg{
    display:inline;
}

/* NAVBAR */
#navbarSide img{
    background:transparent;
    opacity:.3;
}
#navbarSide img:hover{
    background: transparent;
    opacity: 1;
}

/* LANDING PAGE */
.gameModeIcon{
    color:var(--bg-light-blue);
}

.gameModeDesc{
    font-weight: lighter;
}


.actionButton{
    background:transparent;
    border:2px solid var(--light-transp-blue);
}

.actionButton:hover{
    border:2px solid var(--dark-transp-blue);
}

/* TUTORIAL LIST PAGE */
.tocBlock img{
    vertical-align: middle;
    border: 2px solid var(--light-transp-blue);
    border-radius: 7px;
    background: none;
    margin-right: 7px;
}

.tocBlock{
    border:none;
    box-shadow: none;
    background: var(--lighter-gray);
}

.tocBlock:hover{
    opacity:.4;
}

.tocBlockSeparator{
    background: var(--lighter-gray);
}


/* TUTORIAL DOC VIEW PAGE */
#docNavBar a{
    background:var(--lighter-gray);
    border:none;
}

#docNavBar a:hover{
    color:var(--font-color);
    background: rgb(50 62 77);
}

.disabledNav{
    background:var(--bg-light-blue) !important;
}

/* GAME MODE PAGE */

#gameModePopup{
    background:var(--lighter-gray);
}

#gameModePopup a{
    background: var(--light-transp-blue);
    color:var(--font-color);
    font-weight: lighter;
}

#gameModePopup a:hover{
    background:var(--dark-transp-blue);
}

#popupBackdrop{
    background: rgb(14 17 25 / 50%);
}

.gameModeOption{
    background:var(--lighter-gray);
    border:none;
}

.gameModeOption:hover{
    opacity:.4;
}

/* PLAY PAGE */
.confirmChoiceButton{
    color:var(--bg-light-blue);
}

#correctionIndicator{
    color:var(--bg-light-blue);
}

#changeCorrectButton{
    color:var(--bg-light-blue);
}

#nextProblemButton{
    background: var(--lighter-gray);
    color: var(--font-color);
}


#errorText{
    background-color: transparent;
}

#answerSection{
    border-top: 2px solid var(--light-transp-blue);
}

#answerTextarea{
    background:rgb(0,0,0,0.2);
}

#answerDoneButton{
    background: var(--dark-transp-blue);
    color: var(--font-color);
    font-weight: 100;
    padding-left: 15px;
    padding-right: 15px;
}

#answerDoneButton:hover{
    background:var(--light-transp-blue);
}

#answerSection, #correctionSection, #confirmationSection {
    padding: 10px;
    background: transparent;
    overflow: auto;
}

#explanationSection{
    background:transparent;
}

#confirmChoiceLabel{
    font-weight: lighter;
}


/* PROBLEMSET PAGE */
.diffLabel{
    color:var(--bg-light-blue);
}

/* MARKDOWN */
code{
    background:var(--light-transp-blue);
}
pre code.hljs {
    background:var(--bg-light-blue);
}

/* MOBILE */
@media only screen and (max-width: 950px) {

    /* navbar */
    #burgerMenu img{
        background: none;
    }

}