:root{
    /* overall stuff */
    --font-color: rgb(50,50,50);
    --bg-light-blue: rgb(242,242,247);
    --light-transp-blue: rgb(0,0,50,0.1);
    --dark-transp-blue:rgba(0,0,50,.3);
    --light-shadow: 0 10px 30px rgb(0,0,50,0.1);
    --pretty-green: rgb(140,223,130);
    --pretty-yellow: rgb(255 216 107);
    --pretty-red:rgb(255 109 109);
    --pretty-purple:rgb(245 152 229);
    --navbar-gap: max(12vh,100px);
    /* code blocks */
    --lighter-font-color: rgb(111,111,111);
}


/* GENERAL */
body{
    font-family: 'Poppins';
    color:var(--font-color);
    background:var(--bg-light-blue);
}


h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    margin: 0;
}


strong{
    font-weight: 600;
}

h1 strong,h2 strong,h3 strong,h4 strong,h5 storng,h6 strong{
    font-weight: 800;
}

p{
    font-size: 16px;
}


button{
    font-family: 'Poppins';
    cursor: pointer;
}

.bigBox{
    width:55vw;
    max-width: 800px;
    margin:auto;
    border-radius:15px;
    border: 2px solid var(--dark-transp-blue);
    overflow:hidden;
    background: white;
}

.sideBar{
    position: fixed;
    width: 15vw;
    padding: 15px;
    max-height: 75vh;
    overflow: auto;
}

/* LOADING SCREEN */
#loadingScreen{
    position: fixed;
    z-index: 998;
    background: var(--bg-light-blue);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    justify-items: center;
    align-content: center;
    transition: .5s;
}

#loadingScreen img{
    margin-bottom:20px;
}

/* NAVBAR */
#navbar{
    border-bottom: 2px solid var(--light-transp-blue);
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display:flex;
    background:var(--bg-light-blue);
    z-index:999;
}

#navbar a{
    text-decoration: none;
    color:var(--font-color);
}

#navbarLogo{
    font-size: 25px;
}

#navbarLogo img{
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.navbarGap{
    height: var(--navbar-gap);
}

/* LANDING PAGE */
.bigHeader{
    font-size: 3em;
    text-align: center;
}
.bigHeader span{
    font-weight: 800;
    background: -webkit-linear-gradient(right, rgb(130 223 185), var(--pretty-green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 100px var(--pretty-green);
}

.bigGap{
    height: 30vh;
}

.subHeader{
    text-align: center;
    opacity: .2;
}

.bigParagraph{
    font-weight: lighter;
    width: 60%;
    display: block;
    margin:auto;
    text-align: center;
    max-width: 700px;
}

.bigParagraph b{
    font-weight: 600;
}

/* floating cubes */
.floatingCubeContainer{
    display:flex;
    justify-content: space-evenly;
    position:relative;
    z-index:1;
}

/* tutorial image */
#tutorialImage{
    width: 70%;
    max-width: 850px;
    margin:auto;
    display: block;
}

/* mode preview */
.modePreview{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 50px;
}

#modePreviewContainer{
    width: fit-content;
    margin:auto
}

/* action button */
.actionButton{
    text-decoration: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: white;
    border: 2px solid var(--dark-transp-blue);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    display: block;
    margin-top: 50px;
    color: var(--lighter-font-color);
    margin-bottom: 50px;
    width: fit-content;
    transition:1s;
}
.actionButton:hover{
    box-shadow: none;
    border: 2px solid var(--light-transp-blue);
    background:var(--bg-light-blue);
}

/* TABLE OF CONTENTS */
#tableOfContents a{
    text-decoration: none;
    color:var(--font-color);
    width: 66%;
    max-width: 600px;
    margin:auto;
    display:block;
}
#tableOfContents h2{
    font-weight: bolder;
    text-align: center;
    margin-bottom:30px;
}
.tocBlock{
    border:2px solid var(--light-transp-blue);
    border-radius: 10px;
    padding:10px;
    box-shadow: var(--light-shadow);
    transition:.5s;
}

.tocBlock:hover{
    box-shadow: none;
}
.tocBlock p{
    margin:0;
    font-weight: 600;
}

.tocBlock img{
    vertical-align: middle;
    background: var(--light-transp-blue);
    border-radius: 7px;
    margin-right: 7px;
}

.tocBlockSeparator{
    background: var(--light-transp-blue);
    height: 30px;
    width: 2px;
    margin: auto;
}


/* DOC VIEW LEARN PAGE */

/* doc contents preview */
#docContents a{
    display: block;
    font-weight: 600;
    text-decoration: none;
    color: var(--dark-transp-blue);
    opacity: 1;
    margin-bottom:10px;
}
#docContents a:hover{
    text-decoration: underline;
}

.checkBox{
    display: inline-block;
    border: 2px solid var(--light-transp-blue);
    border-radius: 10px;
    padding: 4px;
    width: 48px;
    height:24px;
    vertical-align: middle;
    cursor:pointer;
}

.checkBox img{
    max-width: 100%;
    border-radius: 5px;
}

#completionIndicatorLabel{
    margin: 0;
    display: inline-block;
    font-weight: 600;
    margin-left: 10px;
    opacity: .8;
}

/* doc nav bar */
#docNavBar{
    display:flex;
    width:55vw;
    max-width: 800px;
    margin:auto;
}

#docNavBar a{
    flex: 1;
    text-align: center;
    border: 2px solid var(--light-transp-blue);
    cursor: pointer;
    margin: 10px;
    border-radius: 15px;
    font-weight: 600;
    color: var(--dark-transp-blue);
    padding: 5px;
    text-decoration: none;
}

#docNavBar a:hover{
    background: white;
}


/* GAME MODE PAGE */

/* pop up */
#gameModePopup{
    padding: 30px;
    max-height: calc(75vh - 60px);
    position: fixed;
    right: 50%;
    left: 50%;
    transform: translate(-50%,0);
    overflow: auto;
    z-index: 998;
    transition:.5s;
    opacity: 0;
    pointer-events:none;
}

#popupBackdrop{
    background: rgb(242 242 247 / 50%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* opacity: .5; */
    z-index: 997;
    backdrop-filter: blur(6px);
    opacity: 0;
    transition: .5s;
    pointer-events:none;
}

#restoreButton{
    background: transparent;
    border:none;
    font-size:16px;
    color:var(--lighter-font-color);
    padding:0;
    margin-top: 30px;
    opacity: .7;
}

#restoreButton:hover{
    opacity: 1;
}

#gameModePopup a{
    padding: 10px;
    background: var(--font-color);
    color: var(--bg-light-blue);
    text-decoration: none;
    margin-left: auto;
    display: block;
    width: fit-content;
    border-radius: 10px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

.gameModeSettings{
    margin-top: 30px;
}


.gameModeSettings p{
    font-weight: 600;
    margin: 5px;
}

.gameModeSettings input{
    vertical-align: middle;
    margin-right: 7px;
}

/* modes */
.gameModeOption{
    width: 66%;
    max-width: 600px;
    margin: auto;
    border: 2px solid var(--light-transp-blue);
    border-radius: 17px;
    padding: 10px;
    transition: .5s;
    margin-bottom: 10px;
    margin-top: 10px;

    display:flex;
    align-items:center;
    cursor: pointer;
}

.gameModeOption:hover{
    box-shadow: var(--light-shadow);
}

.gameModeIcon{
    width: 50px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: var(--pretty-purple);
    border-radius: 10px;
    margin-right: 10px;

}

.gameModeIcon p{
    font-weight: 800;
    font-size: 14px;
}

.gameModeDesc{
    font-weight: 600;
    opacity: .7;
    margin: 0;
}


/* PLAY PAGE */
#answerSection,#correctionSection,#confirmationSection{
    padding:10px;
    background:var(--bg-light-blue);
}

/* session stats */
#sessionStats{
    color:var(--lighter-font-color);
}
#sessionProgressBar{
    border-radius: 10px;
    padding:5px;
    border: 2px solid var(--light-transp-blue);
}

#sessionProgressBar div{
    height: 10px;
    background: var(--pretty-green);
    border-radius: 10px;
}

/* diffuculty indicator */
#diffIndicator{
    font-weight: 600;
    background: var(--pretty-green);
    width: fit-content;
    padding: 7px;
    margin: 0;
    border-radius: 10px;
    display: block;
    margin: 10px;
    margin-left: auto;
}

/*answer section*/

.answerChoice{
    flex: 1;
    border: 2px solid var(--light-transp-blue);
    padding: 10px;
    border-radius: 10px;
    color: var(--lighter-font-color);
    font-weight: 600;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 16px;
    background: transparent;
}

.answerChoice:hover{
    background: var(--light-transp-blue);
}

#answerTextarea{
    display: block;
    font-family: 'Poppins';
    width: -webkit-fill-available;
    font-size: 16px;
    outline: none;
    padding: 15px;
    resize: none;
    border-radius: 10px;
    height: -webkit-fill-available;
    color: var(--font-color);
    border: none;
    background-color: var(--bg-light-blue);
}

#answerTextareaContainer{
    overflow: hidden;
    height: 25vh;
    border: 2px solid var(--light-transp-blue);
    border-radius: 10px;
}

#answerDoneButton{
    display: block;
    margin-left: auto;
    margin-top: 10px;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: var(--font-color);
    border-radius: 10px;
    color: var(--bg-light-blue);
}


/* correction section */

#correctionIndicator{
    font-weight: 600;
    margin: 0;
    padding: 15px;
    border-radius: 10px;
}

#correctionIndicator img{
    vertical-align: middle;
    border-radius: 100%;
    margin-right: 5px;
    border: 2px solid;
}

#changeCorrectButton,#nextProblemButton{
    float: right;
    background: var(--light-transp-blue);
    padding: 5px;
    border-radius: 7px;
    margin-top: -3px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color);
}

#changeCorrectButton:hover{
    background:transparent;
}

#nextProblemButton{
    margin-left: 10px;
    background: var(--font-color);
    color: var(--bg-light-blue);
    padding-left: 10px;
    padding-right: 10px;
}

/* explanation section */
#explanationSection{
    background:var(--bg-light-blue);
    padding: 40px;
    padding-top: 0.1px;/*when its 0, the margins from the paragraphs start acting weird*/
}

/* confirmation section */
#errorText{
    background: var(--font-color);
    padding: 10px;
    font-weight: bold;
    color: var(--bg-light-blue);
    margin: 0;
    border-radius: 10px;
    font-family: monospace;
}


#confirmChoiceLabel{
    font-weight: 600;
    color: var(--dark-transp-blue);
    margin-left: 10px;
}

.confirmChoiceButton{
    border-radius: 10px;
    border: none;
    background: var(--pretty-red);
    padding: 7px;
    font-weight: 600;
    color: var(--font-color);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}


/* PROBLEM VIEW */
.problemSection{
    padding-left: 2em;
    color: var(--lighter-font-color);
}

.problemSectionHeader{
    cursor:pointer;
    margin-bottom: 20px;
}

.problemSectionHeader img{
    vertical-align: middle;
    margin-right: 10px;
}

/* MARKDOWN SYNTAX */

/* container */
.mdContent{
    background: white;
    padding:40px;
}

.mdNoTopPadding{
    padding-top: 0;
}


/* header links */
.headerLink{
    opacity: .5;
    margin-left: 10px;
    vertical-align: middle;
}
.headerLink:hover{
    opacity: 1;
}

/* images */
img{
    max-width: 100%;
}

/* iframes */
.mdIframe{
    border-radius: 10px;
    width:100%;
    aspect-ratio:16/9;
    border:none;
}

/* code */

.singleCodeBlock,.multiCodeBlock{
    background:var(--bg-light-blue);
    font-family: monospace;
    padding:10px;
    border-radius: 7px;
    font-weight: lighter;
    color:var(--lighter-font-color);
    border: none;
}

.multiCodeBlock{
    overflow-x:auto;
}

code{
    padding: 5px;
    border-radius: 7px;
    color:var(--lighter-font-color);
    background:var(--bg-light-blue);
}

pre code.hljs {
    padding: 14px;
    font-size: 14px;
    background: var(--bg-light-blue);
    border-radius: 10px;
    max-height: 50vh;
}