:root{
    /* overall stuff */
    --font-color: rgb(50,50,50);
    --bg-light-blue: rgb(242,242,247);
    --light-transp-blue: rgb(0,0,50,0.1);
    --dark-transp-blue:rgba(0,0,50,.3);
    --light-shadow: 0 10px 30px rgb(0,0,50,0.1);
    --pretty-green: rgb(140,223,130);
    --pretty-yellow: rgb(255 216 107);
    --pretty-red:rgb(255 109 109);
    --pretty-purple:rgb(245 152 229);
    /* code blocks */
    --lighter-font-color: rgb(100,100,100);
}

body{
    font-family: 'Poppins';
    color:var(--font-color);
    background:var(--bg-light-blue);
}


h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    margin: 0;
}


strong{
    font-weight: 600;
}

h1 strong,h2 strong,h3 strong,h4 strong,h5 storng,h6 strong{
    font-weight: 800;
}

p{
    font-size: 16px;
}


button{
    font-family: 'Poppins';
    cursor: pointer;
}

.bigBox{
    width:55vw;
    max-width: 800px;
    margin:auto;
    border-radius:15px;
    border: 2px solid var(--light-transp-blue);
    overflow:hidden;
    background: white;
}

#fadeCover{
    position: fixed;
    z-index:1000;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    background:var(--bg-light-blue);
    display:none;
}


/* TABLE OF CONTENTS */
#tableOfContents a{
    text-decoration: none;
    color:var(--font-color);
    width: 66%;
    max-width: 600px;
    margin:auto;
    display:block;
}
#tableOfContents h2{
    font-weight: bolder;
    text-align: center;
    margin-bottom:30px;
}
.tocBlock{
    border:2px solid var(--light-transp-blue);
    border-radius: 10px;
    padding:10px;
    box-shadow: var(--light-shadow);
    transition:.5s;
}

.tocBlock:hover{
    box-shadow: none;
}
.tocBlock p{
    margin:0;
    font-weight: 600;
}

.tocBlock img{
    vertical-align: middle;
    background: var(--light-transp-blue);
    border-radius: 7px;
    margin-right: 7px;
}

.tocBlockSeparator{
    background: var(--light-transp-blue);
    height: 30px;
    width: 2px;
    margin: auto;
}


/* DOC VIEW LEARN PAGE */

/* doc contents preview */
#docContents{
    position: fixed;
    width: 15vw;
    margin: 15px;
}
#docContents a{
    display: block;
    font-weight: 600;
    text-decoration: none;
    color: var(--dark-transp-blue);
    opacity: 1;
    margin-bottom:10px;
}
#docContents a:hover{
    text-decoration: underline;
}

#completionIndicator{
    display: inline-block;
    border: 2px solid var(--light-transp-blue);
    border-radius: 10px;
    padding: 4px;
    width: 48px;
    height:24px;
    vertical-align: middle;
    cursor:pointer;
}

#completionIndicatorImg{
    max-width: 100%;
    border-radius: 5px;
}

#completionIndicatorLabel{
    margin: 0;
    display: inline-block;
    font-weight: 600;
    margin-left: 10px;
    opacity: .8;
}

/* doc nav bar */
#docNavBar{
    display:flex;
    width:55vw;
    max-width: 800px;
    margin:auto;
}

#docNavBar a{
    flex: 1;
    text-align: center;
    border: 2px solid var(--light-transp-blue);
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--dark-transp-blue);
    padding: 5px;
    text-decoration: none;
}

#docNavBar a:hover{
    background: white;
}


/* PLAY PAGE */

/* diffuculty indicator */
#diffIndicator{
    font-weight: 600;
    background: var(--pretty-green);
    width: fit-content;
    padding: 7px;
    margin: 0;
    border-radius: 10px;
    display: block;
    margin: 10px;
    margin-left: auto;
}

/*answer section*/
#answerSection{
    padding:10px;
    background:var(--bg-light-blue);
}

.answerChoice{
    flex: 1;
    border: 2px solid var(--light-transp-blue);
    padding: 10px;
    border-radius: 10px;
    color: var(--lighter-font-color);
    font-weight: 600;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 16px;
    background: transparent;
}

.answerChoice:hover{
    background: var(--light-transp-blue);
}

#answerTextarea{
    display: block;
    font-family: 'Poppins';
    width: -webkit-fill-available;
    font-size: 16px;
    outline: none;
    padding: 15px;
    resize: none;
    border-radius: 10px;
    height: -webkit-fill-available;
    color: var(--font-color);
    border: none;
}

#answerTextareaContainer{
    overflow: hidden;
    height: 25vh;
    border: 2px solid var(--dark-transp-blue);
    border-radius: 10px;
}

#answerDoneButton{
    display: block;
    margin-left: auto;
    margin-top: 10px;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: var(--font-color);
    border-radius: 10px;
    color: var(--bg-light-blue);
}

#answerDoneButton:hover{
    /*background:var(--dark-transp-blue);*/
}

/* correction section */
#correctionSection{
    padding: 10px;
    background:var(--bg-light-blue);
}

#correctionIndicator{
    font-weight: 600;
    margin: 0;
    padding: 15px;
    border-radius: 10px;
}

#correctionIndicator img{
    vertical-align: middle;
    border-radius: 100%;
    margin-right: 5px;
    border: 2px solid;
}

#changeCorrectButton,#nextProblemButton{
    float: right;
    background: var(--light-transp-blue);
    padding: 5px;
    border-radius: 7px;
    margin-top: -3px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color);
}

#changeCorrectButton:hover{
    background:transparent;
}

#nextProblemButton{
    margin-left: 10px;
    background: var(--font-color);
    color: var(--bg-light-blue);
    padding-left: 10px;
    padding-right: 10px;
}

/* explanation section */
#explanationSection{
    background:var(--bg-light-blue);
    padding: 40px;
    padding-top: 0.1px;/*when its 0, the margins from the paragraphs start acting weird*/
}

/* MARKDOWN SYNTAX */

/* container */
.mdContent{
    background: white;
    padding:40px;
}


/* header links */
.headerLink{
    opacity: .5;
    margin-left: 10px;
    vertical-align: middle;
}
.headerLink:hover{
    opacity: 1;
}

/* images */
img{
    max-width: 100%;
}

/* iframes */
.mdIframe{
    border-radius: 10px;
    width:100%;
    aspect-ratio:16/9;
    border:none;
}

/* code */

.singleCodeBlock,.multiCodeBlock{
    background:var(--bg-light-blue);
    font-family: monospace;
    padding:10px;
    border-radius: 7px;
    font-weight: lighter;
    color:var(--lighter-font-color);
    border: none;
}

.multiCodeBlock{
    overflow-x:auto;
}

code{
    padding: 5px;
    border-radius: 7px;
    color:var(--lighter-font-color);
    background:var(--bg-light-blue);
}

pre code.hljs {
    padding: 14px;
    font-size: 14px;
    background: var(--bg-light-blue);
    border-radius: 10px;
    max-height: 50vh;
}